.app__container {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.input__postnumber {
	width: 10%;
}

.btn__add-note {
	display: block;
	margin-top: 100px auto;
	background-color: rgb(96, 208, 74);
  border:none;
	border-radius: 10px;
	padding: 10px;
	width: 100px;
	height: 40px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	color: white;
}

.new-note__container {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	justify-content: left;
	align-items: center;
	padding: 10px;
	height: 4rem;
}
.app__note-search {
	background-color: rgb(228, 228, 228);
	padding: 10px;
	border-radius: 5px;
	border-width: 1px;
	outline: none;
	margin: 50px;
	-webkit-border-radius: 5px;
}
